extends layout

block content
  .container(style="margin-top:80px")
    .row
      div.center(style="width:400px; hight:300px")
        .panel.panel-default
          .panel-heading
            h3.panel-title ksaltstack
          .panel-body
            form.form-horizontal(ng-controller="loginCtrl", name="loginForm")
              .form-group
                label.col-sm-3.control-label(for="inputUsername") Username
                .col-sm-9
                  input.form-control(name="username", type="username", placeholder="用户名", ng-model="user.username", required)
              .form-group
                label.col-sm-3.control-label(for="inputPassword") Password
                .col-sm-9
                  input.form-control(name="password", type="password", placeholder="密码", ng-model="user.password", required)
              .form-group
                .col-sm-12
                  .well.disnone
              .form-group
                .col-sm-offset-3.col-sm-9
                  button.btn.btn-default(type="button", ng-click="submit()") 登录
      
  script(src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
  script(src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js")
  script(src="/javascripts/angularjs/angular.min.js")
  script(src="/javascripts/index/main.js")