doctype html
html(ng-app="mainApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-3.3.5/bootstrap.css')
    line(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
  body
    block content